#gallery {
    background-color: var(--color-cream);
    text-align: center;
}
#gallery h1 {
    font-family: 'Tinos', serif;
}
#gallery h5 {
    font-family: "Gelasio", serif;
}
#gallery .row {
    padding: 5px; 
}

#gallery .col {
    padding: 0 !important; 
}
#gallery a {
    text-decoration: none !important;
    color: white !important; 
    background-color: var(--color-cream);
    border: none;
    border-radius: 50%;
    color: black !important;
    font-size: 2rem;
}

#gallery .card {
    border-radius: 0 !important;
    height: 400px !important;
    overflow: hidden; 
    flex-direction: row;
    color: var(--color-cream);
    margin: 5px; 
}
/* background card colors */
#card0 .card, #card3 .card {
    background-color: var(--color-green);
}
#card1 .card, #card4 .card {
    background-color: black;
}
#card2 .card, #card5 .card {
    background-color: var(--color-red);
}
/* set card columns */
.card-body, .left-img, .right-img {
    height: 100%;
    width: 33%; 
}
.card-body {
    min-width: 140px;
}
/* main body */
#gallery .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* icons */
 #card1 .right-img, #card4 .right-img {
    height: 100%;
    object-fit: cover;
 }
 #card0 .left-img,
 #card2 .left-img,
 #card3 .left-img,
 #card5 .left-img {
    object-fit: cover;
}
/* screenshots */
 #card0 .right-img,
 #card2 .right-img,
 #card3 .right-img,
 #card5 .right-img,
 #card1 .left-img,
 #card4 .left-img {
    object-fit: cover;
    object-position: left;
    opacity: 50%;
}

