* {
    margin: 0;
    padding: 0;
}
/* @keyframes cutout-bg-color {
    0% {
        background-color:  rgb(255, 109, 109)
    }
    33% {
        background-color:  rgb(255, 109, 255)
    }
    66% {
        background-color:  rgb(255, 167, 109)
    }
    100% {
        background-color:  rgb(255, 109, 109)
}} */

.image-container {
    /* animation: cutout-bg-color 10s linear infinite; */
    background-image: url("./fractal1.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    height: fit-content;
  }
/*   
  .gradient-div {
    background: linear-gradient(42deg, rgba(0,0,0,80%), rgba(0,0,0,10%));
    height: 100%;
    width: 100%; 
  } */
  .text {
    background: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    text-align: center;
    mix-blend-mode: multiply;
    height: 50%; 
  }
  .text-top {
    padding-bottom: 0;
  }
  .text-bottom {
    padding-top: 0; 
  }

@media only screen and (min-width: 480px) {
    .text {
        font-size: 10vw; 
        text-align: start;
      }
    .text-top {
        padding-left: 30vw;
    }
    .text-bottom {
        padding-left: 40vw;
    }
}